<%- include("../partials/layout-start", {title: "Ошибка обработки данных"}) %>
<%- include("../partials/menu") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">500 - ошибка обработки данных</h1>
        <p><%= error %></p>
    </div>
</div>

<%- include("../partials/layout-end") %>